@font-face
{
    font-family: 'raleway';
    src: url('fonts/raleway/Raleway-Regular.ttf');
}

body
{
    font-family: 'raleway', Impact, "Arial Black", Arial, Verdana, sans-serif;
    font-weight: 500;
}

/*###################### HEADER ######################*/

#myHeader
{
    margin-left: 30px;
    margin-right: 30px;
    width: auto;
    height: 50px;
}

.headerTop
{
    height: 50px;
    display:flex;
    justify-content: space-between;
}

.headerLogo
{
    display:flex;
    align-items: center;
    height: 50px;
}

.headerTopRight
{
    height: 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.topRightNavContainer
{
    flex: 2;
    display: flex;
    margin-right: 25px;
}

.topNavElement
{
    display:flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

.navLink
{
    margin-top: 20px;
    padding-bottom: 17px;
    padding-left: 30px;
    padding-right: 30px;
}

.topNavElement:hover
{
    height: 45px;
    border-top: 3px solid #0065FC;
}

.navLink:hover
{
    color: #0065FC;
}

.headerBottom
{
    display: none;
}

.bottomNavElement:hover
{
    border-bottom: 3px solid #0065FC;
}

@media only screen and (max-device-width: 630px)
{
    #myHeader
    {
        height: 100px;
        margin: 0;
    }

    .headerTop
    {
        margin-left: 30px;
        margin-right: 30px;
    }

    .topRightNavContainer
    {
        display: none;
    }

    .headerBottom
    {
        display:flex;
        justify-content: center;
        margin: 0;
    }

    .bottomNavElement
    {
        display: flex;
        height: 50px;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid #F2F2F2;
    }

}



 /*###################### HEADER END ######################*/

 /*###################### SECTION 1 ######################*/
#section1
{
    padding-bottom: 100px;
}


#citySearch
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

#citySearch > :nth-child(1) /* logo map marker*/
{
    margin-left: 24px;
    flex: 1;
}


#citySearch > :nth-child(2) /* form + button */
{
    display: flex;
    flex: 4;
}

#textSearch /* barre de saisie de texte */
{
    font-family: 'raleway';
    border: none;
    background-color: white;
    padding-left: 10px;
    height: 50px;
}

.myButton
{
    font-family: 'raleway';
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    width: 150px;
    height: 50px;
    border-radius: 0px 20px 20px 0px;
    border: none;
}


#filterBox
{
    display: flex;
    margin-left: 10px;
}

#filterItems /* conteneur de tous les elements filtres*/
{
    display: flex;
}

.filterElement
{
    display: flex;
    align-items: center;
    height: 40px;
    margin: 0px 0px 0px 40px;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
}

.filterLogoBox /* logos */
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #DEEBFF;
    margin: -2px 10px 0px -2px;
    
}


.filterElement > :nth-child(2) /* texte filtre */
{
    white-space: nowrap;
    padding-right: 20px;
    font-weight: bold;
}

/* hover a rajouter */




.filterInfo
{
    margin-top: 5px;
    display: flex;
    align-items: center;
    
    /* ... */
}

.logoInfoBox
{
    margin: 0 10px 0 0;
    background-color: #0065FC;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #F2F2F2;
    position: relative;
}

.logoInfo
{
    position: absolute;
    top: -1px;
    left: -1px;
    color: white;
}



/*###################### SECTION 1 END ######################*/

/*###################### SECTION 2 ######################*/
#section2
{
    display: flex;
    justify-content: space-around;
    padding-bottom: 300px;
    border-bottom: 3px solid red;
}

.displayCard
{
    display: flex;

    flex-direction: column;
    background-color: #F2F2F2;
    border: 1px solid black;
    border-radius: 20px;
    min-width: 500px;
}

.homeCardContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    max-width: 839px;
}



.homeCard
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    background-color: white;
    border-radius: 20px;
}


.homeCard .cardPreview
{
    width: 200px;
    height: 100px;
    margin-top: 4px;
    border-radius: 20px 20px 0px 0px;
}

.homeCard2
{
    display: flex;
    height: 130px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
}

.homeCard2 .cardPreview
{
    width: 120px;
    height: 120px;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 20px 0px 0px 20px;
}

.cardInfo
{
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    align-self: flex-start;
    margin-left: 10px;
}




@media screen and (max-device-width: 480px)
{
    #section2
    {
        flex-direction: column;
    }
    #section2 > :nth-child(1)
    {
        order: 2;
    }
}

.starNote
{
   display: flex;
}


/*###################### SECTION 2 END ######################*/


/*###################### SECTION 3 ######################*/

#section3
{
    border-bottom: 3px solid red;
}


#actContainer
{
    margin: 30px 30px;
    display: flex;
    justify-content: space-between;
}


.threeCardContainer
{  
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.oneCardContainer
{
    width: 45%;
}

.twoCardContainer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
}

.actCard
{
    display: flex;
    flex-direction: column;
    /* max-width: 386px; */
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.actTitle
{   
    height: 72px;
    padding-left: 20px;
}

.actTitle h3
{
    padding-top: 5px;
}


.threeCardContainer 

.actImg
{
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}


.act1
{
    height: 496px;
    background-image: url("images/activites/4_small/VieuxPortS.jpg");
}

.act2
{
    height: 240px;
    background-image: url("images/activites/4_small/FortPomeguesS.jpg");
}

.act3
{
    height: 146px;
    background-image: url("images/activites/4_small/IlesFrioulS.jpg")
}

.act4
{
    height: 496px;
    background-image: url("images/activites/3_medium/ParcCalanquesM.jpg")
}

.act5
{
    height: 184px;
    background-image: url("images/activites/4_small/NotreDameS.jpg")
}

.act6
{
    height: 204px;
    background-image: url("images/activites/4_small/ParcLongchampS.jpg")
}

.actCard:hover
{
    cursor: pointer;
    transform: scale(1.02);
}


/* responsive a ajouter*/


/*###################### SECTION 3 END ######################*/

/*###################### FOOTER ######################*/

footer
{
    display: flex;
    background-color: #F2F2F2;
}

footer ol
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer li
{
    margin-bottom: 10px;
}

.footerBox
{
    margin-left: 5%;
    margin-right: 15%;
}

@media screen and (max-device-width: 480px)
{
    footer
    {
        flex-direction: column;
    }
}



/*###################### FOOTER END ######################*/




 /*###################### SECTION GENERIQUE ######################*/
a
{
    color: black;
    text-decoration: none;
}

.chartBlue
{
    color: #0065FC
}

.chartLightBlue
{
    color: #DEEBFF
}

.chartGrey
{
    color: #F2F2F2
}

.myBold
{
    font-weight: bold;
}

.logoSmall
{
    height: 16px;
}

.myFlexRow
{
    display: flex;
    justify-content: space-between;
    
}

.myFlexRow > :nth-child(2)
{
    margin-top: 20px;
    margin-right: 20px;

}
